#indexes a:not(:first-child) {
	padding-left: 0.5em;
}

#indexes a:not(:last-child) {
	border-right: 1px solid #000;
	padding-right: 0.5em;
}

.pagination .prev {
	padding-right: 1em;
}

.pagination .next {
	padding-left: 1em;
}
