#indexes a:not(:first-child) {
	padding-left: 0.5em;
}

#indexes a:not(:last-child) {
	border-right: 1px solid #000;
	padding-right: 0.5em;
}

.pagination .prev {
	padding-right: 1em;
}

.pagination .next {
	padding-left: 1em;
}

.results {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	overflow: hidden;
	clear: left;
}

.results > li {
	padding-bottom: 10px;
	border-bottom: 1px dashed #000;
	margin-bottom: 10px;
	overflow: hidden;
}

.results > li > div:first-child {
	float: left;
	width: 200px;
}

.results > li > div:last-child {
	overflow: hidden;
}

.results > li > div:last-child > div {
	display: inline;
	margin-right: 20px;
	overflow: hidden;
}

#relationship {
	border-collapse: separate;
	border-spacing: 5px 0;
	margin-left: auto;
	margin-right: auto;
}

#relationship ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#relationship td:first-child {
	background-color: rgba(0, 255, 0, 0.5);
	text-align: right;
}

#relationship td:last-child {
	background-color: rgba(255, 0, 0, 0.5);
	text-align: left;
}

#relationship tr:last-child td {
	background-color: rgba(255, 255, 0, 0.5);
	text-align: center;
}

#relationship td {
	vertical-align: bottom;
	padding: 0 20px;
	width: 50%;
}

#ged2web_title {
	text-align: center;
}
